body {
    background-color: burlywood;
}
.textarea {
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
}
.commentsection {
    top: 75%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.lastaskedqu {
    background-color:(135,167,222) ;
}

.centre {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}